{
  "printWidth": 95,
  "trailingComma": "all",
  "semi": true,
  "proseWrap": "always",
  "singleQuote": true,
  "arrowParens": "avoid",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^dotenv/config$",
    "^vite$",
    "^(react-(.*)$)|^(react/(.*)$)|^(react$)",
    "^(hono-(.*)$)|^(hono/(.*)$)|^(@hono$)|^(hono$)",
    "<THIRD_PARTY_MODULES>",
    "@front-door/(.*)$",
    "^@/generated/(.*)$",
    "^@/templates/(.*)$",
    "^@/pages/(.*)$",
    "^@/shared/(.*)$",
    "^@/components/(.*)$",
    "^[../]",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
